#virtual env
venv

#build folders and file(s)
__pycache__/
build/
dist/
*.spec

#sensitive file(s)
constants.py
cred.py
session_id.txt
credentials.json
token.json

#other file(s)
test.py
test2.py
OM.py
Report_old.py
cred.py
*.ico
Catalog_book.py
