altgraph==0.17.2
Babel==2.10.3
beautifulsoup4==4.11.1
certifi==2022.6.15
charset-normalizer==2.1.0
colorama==0.4.5
docx2pdf==0.1.8
future==0.18.2
glob2==0.7
greenlet==1.1.2
idna==3.3
lxml==4.9.1
pefile==2022.5.30
Pillow==9.2.0
pyee==8.1.0
pyinstaller==5.1
pyinstaller-hooks-contrib==2022.7
python-docx==0.8.11
pytz==2022.1
pywin32==304
pywin32-ctypes==0.2.0
requests==2.28.1
soupsieve==2.3.2.post1
tkcalendar==1.6.1
tqdm==4.64.0
ttkthemes==3.2.2
urllib3==1.26.10
websockets==10.1
